/*
Styles for system anuncia
*/

/**
* The next class was create for the new format in the table  view:footbridges/home.blade.php
**/


//Animation

@mixin trans-all{
  -moz-transition:all .5s ease;
  -webkit-transition:all .5s ease;
  -o-transition:all .5s ease;
  transition:all .5s ease;
}

@mixin trans-all-ease-in-out{
  -moz-transition:all .7s ease-in-out;
  -webkit-transition:all .7s ease-in-out;
  -o-transition:all .7s ease-in-out;
  transition:all .7s ease-in-out;
}

// End-animation


.container_images{
  padding: 40px;
  background-color: #eeeeee;
  border: 4px dotted dodgerblue ;
  & .file{
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
    display: inline-block;
    width: auto;
    & .image{
      background-position: center !important;
      background-size: cover !important;
      padding: 20px;
      position: relative;
      @include trans-all;
      &+input{
        display: none;
      }
      & span{
        border-radius: 50%;
        font-size: 40px;
        padding: 10px;
      }
    }
    &.dragActive{
      & .image{
        padding: 50px;
        & span{
          background: white;
          opacity: 0;
          &:before{
            content: '\e031' !important;
          }
        }
        &:hover{
          & span{
            //@include trans-all;
            opacity: 1;
          }
        }
      }
    }
  }
}


table
{
  &.formatnew {
    & tr {
      &:nth-of-type(2n+2){
        background-color: rgba(0, 220, 255, 0.13);
      }
      & td {
        vertical-align: middle;
        &:nth-of-type(2){
          &.availability{
            color: #5CB85C;
          }
        }
      }
    }
  }
}

.panel-group{
  &.panel-form-green{
    & .panel{
    &.panel-default{
      & .panel-heading{
          background-color: #B3241C;
          color: white;
          & .panel-title{
            font-weight: lighter;
            text-decoration: none;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}




