/*
Styles for system anuncia
*/

/**
* The next class was create for the new format in the table  view:footbridges/home.blade.php
**/



//Inputs Invisibles
.invisible{
  display:none;
}

//Animation

@mixin trans-all{
  -moz-transition:all .5s ease;
  -webkit-transition:all .5s ease;
  -o-transition:all .5s ease;
  transition:all .5s ease;
}

@mixin trans-all-ease-in-out{
  -moz-transition:all .7s ease-in-out;
  -webkit-transition:all .7s ease-in-out;
  -o-transition:all .7s ease-in-out;
  transition:all .7s ease-in-out;
}

// End-animation

$c-cyan-normal: #5bc0de;
$c-red-dark: #b3241c;


.container_images{
  padding: 20px;
  background-color: #eeeeee;
  border: 4px dotted $c-cyan-normal ;
  & .content_file{
    display: inline-block;
  }
  & .file{
    cursor: pointer;
    display: inline-block;
    margin: 15px;
    padding: 20px;
    //overflow: hidden;
    vertical-align: middle;
    width: auto;
    @include trans-all;
    & input{
      display: none;
    }
    & .image{
      background-color: #FFF !important;
      background-position: center !important;
      background-size: cover !important;
      border-radius: 10px;
      padding: 40px;
      position: relative;
      @include trans-all;
      &+input {
        display: none;
      }
      & span{
        border-radius: 50%;
        color: #a0a0a0;
        display: none;
        font-size: 40px;
        left: 50%;
        padding: 10px;
        position: absolute;
        top: 50%;
        transform:translate(-50%,-50%);
        @include trans-all;
        &:first-of-type{
          display: inline-block;
        }
      }
    }
    &:hover{
      padding: 0px;
      & .image{
        background-color: #FFF;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        padding: 60px;
        & span{
          color: $c-cyan-normal;
        }
      }
    }
    &.dragActive{
      padding: 0px;
      & .image{
        background-color: #FFF;
        padding: 60px;
        & span{
          display: inline-block;
          left: initial;
          opacity: 0;
          transform: none;
          &:before{
            color: #FFF;
            font-size: 18px;
          }
          &.add-refresh{
            background: $c-cyan-normal;
            right: -19px;
            top: -19px;
            &:before{
              content: '\e031' !important;
            }
          }
          &.add-delete{
            background: $c-red-dark;
            left: -19px;
            top: -19px;
            &:before{
              //content: '\e031' !important;
            }
          }
        }
        &:hover{
          & span{
            opacity: 1;
            @include trans-all;
            &:hover{
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}


table
{
  &.formatnew {
    & tr {
      &:nth-of-type(2n+2){
        background-color: rgba(0, 220, 255, 0.13);
      }
      & td {
        vertical-align: middle;
        &:nth-of-type(2){
          &.availability{
            color: #5CB85C;
          }
        }
      }
    }
  }
}



.panel-group{
  &.panel-form-green{
    & .panel{
    &.panel-default{
      & .panel-heading{
          background-color: #ea0528;
          color: white;
          & .panel-title{
            font-weight: lighter;
            text-decoration: none;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}


//Menu inicio
.navbar{
  margin-bottom: 0px;
  &.portal{
    background-color: #ea0528;
    border:0px;
    & .container-fluid{
      & .collapse{
        & .nav{
          & li{
            & a{
              color: #FFF;
              font-family: apexsansclightlight;
              text-transform: lowercase;
              font-size: 16px;
            }
            &.active{
              & a{
                color: #000;
                background-color: #ffffff;
              }
            }
          }
        }
      }
      & .navbar-header{
        & .navbar-toggle{
          & .icon-bar{
            background-color: #fffefe;
          }
        }
        & .navbar-brand{
          padding: 8px;
          & img{
            width: 100px;
          }
        }
      }
    }
  }
}



section {
  height:100%;
  padding-top:50px;
  padding-bottom:50px;
  overflow:auto;
  &.bg-1 {
    background: url('http://anuncia.cc/img/autos.03.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
    & .container-logo{
      padding: 3rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      & .logo{
        background: url("http://anuncia.cc/img/HOME.logo_.02.jpg") no-repeat center center;
        background-size: 100% 60%;
        height: 20rem;
        width: 30rem;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.footer-page {
  height: 60px;
  background-color:#ea0528;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
  p {
    color:#FFF;
  }
}

.row{
  &.show{
    & .search-form{
      padding-top: 15px;
      & .btn-default{
        border-color: #ea0528;
        background-color: #ea0528;
        color: #FFF;
      }
    }
    & h1,h2,h3,h4,h5{
      color: #5b5b5b;
      font-family: apexsansclightlight;
      text-transform: lowercase;
      & span{
        font-size: smaller;
        color: #ea0528;
      }
    }
  }
  &.error{
    transform: translateY(100%);
    & h1{
      color: #ea0528;
    }
    & p{
      color: #5b5b5b;
    }
  }
}




.thumbnail{
  position: relative;
  & .btn-img{
    position: absolute;
  }
}







